#fade {
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}

@mixin question-sentence {
    text-align: start;
}

.question-title {
    @include question-sentence;
    padding-bottom: 10px;
}

.question-notes {
    @include question-sentence;
    color:#dedede;
}

.question-body {
    @include question-sentence;
    margin: 15px 0;
}